@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,900;1,700&family=Victor+Mono:wght@300;700&family=Young+Serif&display=swap');

:root {
  --font-size-h1: 2rem;
  --font-size-h2: 1.6rem;
  --font-size-h3: 0.9rem;
  --font-size-heading: 2.4rem;
  --mark-padding: 0.2em;
  --font-family_1: 'Lato', sans-serif;
  --font-family_2: 'Victor Mono', monospace;
  --font-family_3: 'Young Serif', serif;
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.navbar-brand{
  font-family: var(--font-family_3);
  font-size: var(--font-size-h1);
  font-weight: 900;
  opacity: 0.8;
}
li{
  font-size: var(--font-size-h3);
  font-weight: 700;
  opacity: 0.7;
}

.list {
  display: flex;
  flex-direction: row;
}

.item{
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.search-list {
  position: absolute;
  width: 200px;
  margin-left: 12px;
  right: 1;
  top: 77%;
  max-height: 400px;
  overflow-y: scroll;
  z-index: 10;
}
.search-list .search-list-item {
  background-color: aliceblue;
  padding: 0.5rem;
  border-bottom: 1px solid black;
  width: calc(350px- 8px);
  color: #fff;
  cursor: pointer;
  -webkit-transition: background-color 200ms ease;
  -o-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
}
.search-list .search-list-item:hover {
  background-color: rgb(0, 0, 0);
}

.search-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.search-item-thumbnail > img {
  width: 80px;
  margin-right: 1rem;
}

/* thumbnail */
.search-list::-webkit-scrollbar {
  width: 8px;
}

.search-list::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.search-list::-webkit-scrollbar-thumb {
  background-color: black;
  outline: none;
  border-radius: 10px;
}


.hide-search-list {
  display: none;
}


.details {
  font-family: var(--font-family_2);
  display: block;
  margin: auto 3rem;
}


.box{
  display: flex;
}

.info{
  background-color: blanchedalmond; 
  display:flex;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin: auto 0;
  border-radius: 5px;

}

.title { 
  font-size: var(--font-size-heading);
  font-weight: 900;
  margin: 2.4rem 0;
  padding-right: 8px;
}

.type {
  font-size: 0.9rem;
  font-weight: 900;
  opacity: 0.7;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 0.8rem;
  margin-right: 0.8rem;
}

.aired {
  font-size: 1.2rem;
  font-weight: 900;
  opacity: 0.7;
  margin-top: auto;
  margin-bottom: auto;
}

.movie-name {
  font-size: var(--font-size-heading);
  font-size: 17px;
  font-weight: 700;
  opacity: 0.8;
  margin-top: 1.9rem;
  margin-right: auto;
  color: #ffffff;
}
.sub-list {
  font-family: var(--font-family_1);
}
.main-poster {
  margin: 12% auto;
}
.poster {
  margin-left: 22px;
  margin-bottom: 10px;
  object-fit: contain;
  margin: 4px solid white;
  width: 240px;
  height: 300px;
}
.sub-type-year {
  background-color: rgba(249, 175, 78, 0.598);
  position: absolute;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  border-radius: 3px;
  font-size: 1rem;
  font-weight: 900;
  opacity: 0.8;
}


.info-rating {
  display: flex;
  font-family: var(--font-family_2);
  font-size: .8rem;
  margin-top:40px;
}

.info-rating > img {
  width: 32px;
  height: 32px;
}
.space {
  margin-right:8px; 
  margin-left:8px;
}

.tags {
  display:flex;  
  align-items: center;
  margin-right: 10px;
}

.plot {
  font-family: var(--font-family_2);
  font-weight: 700;
  font-size: 1rem;
}